* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background: #5758bb;
}

.container {
    width: 450px;
    height: auto;
    margin: 0 auto;
    margin-top: 5%;
    border: 1px solid #fff;
    box-sizing: content-box;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}

.container h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #12cbc4;
}

.container .quiz {
    border: 1px solid #1ed760;
    background: #1ed760;
    height: 30px;
    width: 120px;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    outline: none;
}

.container #logout:hover {
    background-color: #7bed9f;
    border: 1px solid #eb3b5a;
}

.create {
    border: 1px solid #a5b1c2;
    height: auto;
    border-radius: 5px;
    box-sizing: content-box;
    padding: 10px;
}

h3 {
    margin-left: 20px;
    margin-top: 5px;
}

#header {
    text-align: center;
}

.txtQues {
    display: inline-block;
    border: none;
    color: #c23616;
    padding: 2px;
    font-family: Arial;
    width: 250px;
    height: 30px;
    background-color: #ffffff;
    outline: none;
    overflow: hidden;
    font-weight: bold;
}

textarea {
    resize: none;
}

.divQues {
    margin: 2px;
}

.divAns {
    margin-left: 20px;
    margin-bottom: 5px;
}

.cbAns {
    margin: 5px;
    cursor: pointer;
}

.ansInput {
    border: 1px solid;
    font-weight: bold;
    padding: 3px;
}

.styleBtn {
    border: 1px solid #1ed760;
    background: #1ed760;
    height: 20px;
    width: 20px;
    padding: 0 5px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #ffffff;
}

i {
    margin-left: 50px;
}

i:hover {
    animation: shake 0.6s;
    animation-iteration-count: unset;
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: inherit;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.fa-user-cog:before {
    margin-right: 50px;
}

.lblAns {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#icSave,
#icDelete,
#icEdit {
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: -33px;
    display: flex;
    margin-right: 90px;
}

.addMore {
    width: 20px;
    margin: 10px;
    height: 20px;
}

h3 {
    color: #f50057;
    margin-top: 10px;
    line-height: 30px;
}

.lblAdd {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #17c0eb;
    min-width: 70px;
    margin-top: 10px;
    text-shadow: 1px 1px 2px red;
}