<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=>, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
    <link href="./admin.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div id="header">
            <i id='admin' class="fas fa-user-cog"></i>
            <h1>Admin</h1>
            <div>
                <button class="quiz" id="quizManager" disabled>QuizManager</button>
                <button class="quiz" id="logout">Logout</button>
            </div>
        </div>
        <h3>List Quizzes</h3>
        <div class="icon">
            <img src="icon.png" class="addMore" id="icCreate">
            <span class="lblAdd">Add more</span>
        </div>
        <div class="create">
        </div>
    </div>
    <script src="admin.js"></script>
</body>

</html>