<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="makeQuiz.css" />
    <title>Document</title>
  </head>
  <body>
        <div class="mainUser">
            <div class="headerUser">
            </div>
        </div>
  </body>
</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <img src="../admin/spring2020.png">
        </div>
        <div class="content">
            <img class="logout" src="../user/logout.png">
            <p class="title"></p>
            <button class="takeQuiz">Take Quiz 📑</button>
            <button class="viewQuiz">View Result 👀</button>
        </div>
    </div>
    <script src="user.js"></script>
</body>

</html>