<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
    <link href="login.css" rel="stylesheet">

    <title>Document</title>
</head>

<body>
    <div class="form-login">
        <form action="#">
            <h1>Login</h1>
            <div class="username">
                <!-- <img class="account" src="user.png"> -->
                <i class="fas fa-users-cog fa-lg"></i>
                <input type="text" id="uname" placeholder="🤵 Enter username" required>
            </div>
            <div class="password">
                <i class="fas fa-key fa-lg"></i>
                <input type="password" id="pass" placeholder="🔒 Enter password" required>
            </div>
            <button id="submit">Submit</button>
            <a id='register' href="#" style="display: block;">Click here to register!</a>
        </form>
    </div>
    <script src="./login.js"></script>
</body>

</html>